In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('./Base de datos sesgo en el proceso de selección.xls' , sep = ';')
display(df)

,ApplicantCode,Gender,BAMEyn,ShortlistedNY,Interviewed,FemaleONpanel,OfferNY,AcceptNY,JoinYN
0,1,1,2,1,1,1.0,1.0,1.0,1.0
1,2,1,2,1,1,1.0,1.0,1.0,1.0
2,3,1,2,1,1,1.0,1.0,1.0,1.0
3,4,1,2,1,1,2.0,1.0,1.0,1.0
4,5,1,2,1,1,2.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
275,276,2,1,0,0,NaN,NaN,NaN,NaN
276,277,2,1,0,0,NaN,NaN,NaN,NaN
277,278,2,1,0,0,NaN,NaN,NaN,NaN
278,279,2,2,0,0,NaN,NaN,NaN,NaN
279,280,2,2,0,0,NaN,NaN,NaN,NaN

In [13]:
df.dtypes

ApplicantCode      int64
Gender             int64
BAMEyn             int64
ShortlistedNY      int64
Interviewed        int64
FemaleONpanel    float64
OfferNY          float64
AcceptNY         float64
JoinYN           float64
dtype: object

In [14]:
df.isna().sum()

ApplicantCode      0
Gender             0
BAMEyn             0
ShortlistedNY      0
Interviewed        0
FemaleONpanel    225
OfferNY          225
AcceptNY         252
JoinYN           252
dtype: int64

In [49]:
hombres = df[df['Gender'] == 1].count()

In [32]:
mujeres = (df[df['Gender'] == 2].count())

In [33]:
total = df.count()

In [35]:
proporcion_hombres = hombres/total
proporcion_hombres

ApplicantCode    0.278571
Gender           0.278571
BAMEyn           0.278571
ShortlistedNY    0.278571
Interviewed      0.278571
FemaleONpanel    0.490909
OfferNY          0.490909
AcceptNY         0.642857
JoinYN           0.642857
dtype: float64

In [36]:
proporcion_mujeres = mujeres/total
proporcion_mujeres #si k es sexista :)

ApplicantCode    0.721429
Gender           0.721429
BAMEyn           0.721429
ShortlistedNY    0.721429
Interviewed      0.721429
FemaleONpanel    0.509091
OfferNY          0.509091
AcceptNY         0.357143
JoinYN           0.357143
dtype: float64

In [37]:
personas_racializadas = (df[df['BAMEyn'] == 1].count())

In [39]:
caucasicos = (df[df['BAMEyn'] == 2].count())

In [42]:
proporcion_personas_racializadas = personas_racializadas/total
proporcion_personas_racializadas

ApplicantCode    0.432143
Gender           0.432143
BAMEyn           0.432143
ShortlistedNY    0.432143
Interviewed      0.432143
FemaleONpanel    0.236364
OfferNY          0.236364
AcceptNY         0.285714
JoinYN           0.285714
dtype: float64

In [43]:
caucasicos = caucasicos/total
caucasicos

ApplicantCode    0.002028
Gender           0.002028
BAMEyn           0.002028
ShortlistedNY    0.002028
Interviewed      0.002028
FemaleONpanel    0.013884
OfferNY          0.013884
AcceptNY         0.025510
JoinYN           0.025510
dtype: float64